.about-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; 
  padding: 40px 20px;
  margin-top: 20px;
}
.gradient-background {
  background: linear-gradient(300deg, #00bfff, #583e1b, #782015);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.about_content {
  display: flex;
  flex-direction: row; 
  align-items: center;
  text-align: center; 
  width: 100%;
  padding: 0 20px; 
}

.about_content img.profile-pic {
  width: 250px; 
  height: 250px; 
  border-radius: 50%; 
  margin-bottom: 20px; 
}

.about_content h1 {
  font-size: 30px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  color: #000;
}

.about_content p {
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
  margin-bottom: 10px;
  color: #000;
  text-align: justify;
  padding: 0 20px;
}

.social-links {
  margin-top: 20px;
}

.icon {
  font-size: 30px;
  color: white;
  margin: 0 10px;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .about-container {
    flex-direction: column; 
    align-items: center; 
  }

  .about_content {
    flex-direction: column;
    text-align: center; 
    padding: 0 20px; 
    max-width: 100%; 
  }

  .about_content h1 {
    font-size: 26px;
  }

  .about_content p {
    font-size: 16px;
    padding: 0 10px;
    font-family: poppins;
  }

  .about_content img.profile-pic {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 480px) {
  .about_content h1 {
    font-size: 25px;
  }

  .about_content p {
    font-size: 10px;
    padding: 0 5px;
  }

  .about_content img.profile-pic {
    width: 200px;
    height: 200px;
  }
}
