.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px; 
    margin-top: 20px;/* Adjust padding as needed */
  }

.about_content h1{
    font-size: 30px;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
    padding-left: 70px;
    margin-bottom: 10px;
    color: #000;
}
.about_content p{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    font-style: inherit;
    margin-bottom: 10px;
    color: #000;
    text-align: justify;
    padding-right: 20px;
}
  .about_content {
    max-width: 800px; /* Max width of the content */
    display: flex;
    align-items: center;
  }
  
  .text {
    flex: 7;
    padding: 10px; /* Take up remaining space */
  }
  
  .profile-pic {
    width: 350px; /* Adjust image width */
    height: 530px; /* Adjust image height */
    border-radius: 50%; /* Make the image circular (assuming it's a profile picture) */
  }
  
  .social-links {
    margin-top: 20px;
  }
  
  .icon {
    font-size: 30px;
    color: white;
    margin: 0 10px;
  }


  