.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 20px;
  }
  
  .content {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: left;
  }
  
  
  .text {
    flex: 7;
    padding: 30px;
    color: rgb(236, 204, 204);
    font-family: Arial, sans-serif;
    transition: opacity 0.5s ease;
  }
  
  .greeting {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .name {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  
  .type {
    transition: opacity 1s;
    color: red;
    font-size: 30px;
    overflow: hidden;
}
  

  .name span{
    font-size: 30px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    font-style: oblique;
    color:white;
    transition: background-color 0.5s ease,transform 1.1s ease;
  }
  .name span:hover{
    color: red;
    transform: scale(1.5);
    
  }
  
  .role {
    font-size: 18px;
    font-weight: bold;
    color: #ddeaf6;
  }
  
  .imageContainer {
    flex: 5;
    text-align: center;
  }
  
  .image {
    width: 350px;
    height: 530px;
    border-radius: 50%;
  }
  
  .button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    box-shadow:1px 1px 5px #007bff;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: background-color 0.5s ease , transform 1s ease;
  }
  
  .button:hover {
    background-color: #011224;
    transform: scale(1.1);
  }
  