.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.project-row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 40px;
  position: relative;
  gap: 10px;
}

.p {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  font-style: inherit;
  font-size: 50px;
  color: rgb(62, 30, 18);
}

.card {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 20px;
  text-align: center;
  background-color: rgba(159, 70, 43, 0.884);
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: 100%; /* Ensure card width is responsive */
  transition: background-color 0.5s ease, transform 0.5s ease;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.1);
  background-color: rgba(112, 28, 2, 0.884);
}

.card-head {
  font-family: Times New Roman;
  color: black;
  margin: 10px 10px 10px 10px;
}

.card-details,
.card a {
  opacity: 0;
  max-height: 0;
  transition: opacity 0.5s ease, max-height 0.5s ease;
}

.card:hover .card-details,
.card:hover a {
  opacity: 1;
  max-height: 500px; /* Adjust based on the expected content height */
}

.card-details {
  color: white;
  margin-bottom: 10px;
  font-size: 16px;
}

.project-image {
  width: 100%;
  height: 200px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure image covers the entire container */
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  margin-bottom: 10px;
}

.fa-edge {
  transition: transform 0.7s ease;
}

.fa-edge:hover {
  transform: scale(1.5);
}

/* Responsive Design */
@media (max-width: 768px) {
  .card {
    max-width: 90%; /* Adjust based on container size */
  }

  .project-image {
    height: 150px; /* Adjust based on desired image height for smaller screens */
  }

  .p {
    font-size: 40px; /* Decrease font size for smaller screens */
  }
}

@media (max-width: 576px) {
  .card {
    max-width: 90%; /* Adjust based on container size */
  }

  .project-image {
    height: 100px; /* Adjust based on desired image height for smaller screens */
  }

  .p {
    font-size: 30px; /* Decrease font size further for very small screens */
  }
}
