
.skills_section{
    width: 100%;
    padding: 0px 13%;
    background-color: rgba(0, 0, 0, 0.082);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
    border-radius: 30px;
}
.skills_head{
    width: 100%;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
}
.area{
    display: flex;
    justify-content: center;
    place-items: center;
    text-align: center;
    margin-bottom: 30px;
}
.second_head{
    width:auto;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    text-align: center;
}
.last_head{
    margin-top: 40px;
    width:auto;
    margin-bottom: 30px;
    display: grid;
    place-items: center;
    text-align: center;
}
.skills_head h2{
    font-size: 30px;
    margin-bottom: -5px;
}
.skills_head h2 span{
    color: #e74d06;
}
.skills_main{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px;
    grid-column-gap: 50px;
}
.skills_main .skill_bar .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  0 10px;
}
.skill_bar .info p:nth-child(2){
    font-weight: 500;
}
.skill_bar .bar{
    width: 100%;
    height: 10px;
    background-color: rgba(0, 0, 0, 0.144);
    border-radius: 25px;
    margin-top: 5px;
    position: relative;
}
.info{
    margin-bottom: 30px;
    transition: background-color 0.5s ease , transform 0.5s ease;
}
.info:hover {
    transform: scale(1.1);
  }

.skill_bar .bar span{
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: #e74d06;
    border-radius: 25px;
}
.skill_bar .bar .html{
    width: 70%;
    animation: html 5s;
}
@keyframes html {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .css{
    width: 65%;
    animation: css 5s;
}
@keyframes css {
    0%{
        width: 0%;
    }100%{
        width: 65%;
    }
}
.skill_bar .bar .js{
    width: 50%;
    animation: js 5s;
}
@keyframes js {
    0%{
        width: 0%;
    }100%{
        width: 50%;
    }
}
.skill_bar .bar .oop{
    width: 60%;
    animation: oop 5s;
}
@keyframes oop {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}

.skill_bar .bar .react{
    width: 45%;
    animation: react 5s;
}
@keyframes react {
    0%{
        width: 0%;
    }100%{
        width: 45%;
    }
}

.skill_bar .bar .python{
    width: 70%;
    animation: python 5s;
}
@keyframes python {
    0%{
        width: 0%;
    }100%{
        width: 70%;
    }
}
.skill_bar .bar .rest{
    width: 30%;
    animation: rest 5s;
}
@keyframes rest {
    0%{
        width: 0%;
    }100%{
        width: 30%;
    }
}
.skill_bar .bar .sql{
    width: 30%;
    animation: sql 5s;
}
@keyframes sql {
    0%{
        width: 0%;
    }100%{
        width: 30%;
    }
}
.skill_bar .bar .adobe{
    width: 60%;
    animation: adobe 5s;
}
@keyframes adobe {
    0%{
        width: 0%;
    }100%{
        width: 60%;
    }
}


.skills-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
.skills-container p span{
    color: #e74d06;
    font-size: large;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
  .skill-grid {
    text-align: center;
  }
  

/* Add a media query for smaller screens */
@media only screen and (max-width: 768px) {
    .skills_section {
      padding: 0px 5%;
      border-radius: 15px;
    }
    .skills_head {
      font-size: 40px;
    }
    .area,
    .second_head,
    .last_head {
      margin-bottom: 20px;
    }
    
    .skill_bar .info {
      flex-direction: column;
      align-items: flex-start;
    }
    .skill_bar .bar {
      margin-top: 10px;
    }
  }
  
  /* Additional media queries for smaller screens if needed */
  @media only screen and (max-width: 480px) {
    .skills_head {
      font-size: 30px;
    }
    .skills_head h2 {
      font-size: 20px;
    }
    .skill_bar .info p:nth-child(2) {
      font-size: 14px;
    }
  }
  